* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body,
.body-dark {
  font-family: "Poppins", "sans-serif";
  min-height: 100vh;
  padding-bottom: 4em;
}

.body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
}

.body-dark {
  background-image: linear-gradient(120deg, rgb(60, 60, 60), #131010);
}

.body-dark i {
  color: white;
}

.title {
  font-size: 2.5rem;
  color: white;
}

.new,
.title {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-input,
.todo-button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.todo-button {
  color: #f6d365;
  background: white;
  cursor: pointer;
  transform: all 0.3s ease;
}
.todo-button:hover {
  background: #f6d365;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
}

.todo {
  margin-bottom: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo input {
  margin-left: 0.5em;
}

.trash-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.todo-item {
  padding: 0rem, 0.5rem;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.toggle-btn,
.logout-btn {
  border: none;
  background: none;
}

.toggle-btn {
  margin-right: 50px;
}

.logout-btn {
  margin-left: 50px;
}
